/* satisfy-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/satisfy-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/satisfy-v17-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body{
    font-family: 'Satisfy';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper1{
    max-width: 1165px;
    margin: 0 auto;
}

.wrapper2{
    max-width: 979px;
    margin: 0 auto;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__iten{
    margin-right: 59px;
    display: block;
}
.header__iten:last-child{
    margin-right: 0;
}

.header__link{
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-decoration: none;
    display: block;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;

}

.intro{
    padding-top: 154px;

}

.intro__title{
    max-width: 485px;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 24px;
    
}

.intro__subtitle{
    max-width: 365px;
    color: #939CA6;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 92px;
}

.button{
    display: flex;
    flex-wrap: wrap;

}

.button__submit{
    padding: 20px 102px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    background: #FFFFFF;
}

.button__submit:hover, .button__submit:focus, .button__submit:active{
    opacity: .75;
}

.intro__pic{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    left: 600px;
    top: 100px;
    
}

.benefits__wrap{
    margin: 0 auto;
}

.benefits__title{
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    margin-right: auto;
    margin-left: auto;
    width: 8em
}

.benefits__cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 35px;
    padding: 0 100px;
}

.benefits__card{
    grid-column: span 1;
}